image: kasproject/kas:latest

xen-raspberry-pi4:
  stage: build
  script:
    - kas build kas/kas-xen-raspberry-pi4.yml

intel-kvm-ubuntu:
  stage: build
  script:
    - kas build kas/kas-intel-acrn.yml

intel-acrn:
  stage: build
  script:
    - kas build kas/kas-intel-acrn.yml

